ServerAliveInterval 60

Host bitbucket.org
    Hostname bitbucket.org
    User git
    IdentityFile ~/.ssh/bitbucket.pem

Host github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/id_rsa

Host aws
  Hostname 52.69.198.217
  User ubuntu
  IdentityFile ~/.ssh/UBUNTU_AWS.pem
#  ProxyCommand /usr/bin/nc -x 127.0.0.1:1080 %h %p

Host wind
  Hostname 121.201.28.101
  User ubuntu
  IdentityFile ~/.ssh/TT_DuDu_MBP

Host yunr
  Hostname 121.201.28.101
  User root
  IdentityFile ~/.ssh/TT_DuDu_MBP

Host ddx
  Hostname 121.43.120.207
  User root
  IdentityFile ~/.ssh/TT_DDX_MacMini

Host deploy
  Hostname 192.168.1.13
  User hacker
  IdentityFile ~/.ssh/TT_DDX_MacMini

Host node
  Hostname 192.168.1.30
  User hacker
  IdentityFile ~/.ssh/TT_DDX_MacMini

Host 29
  Hostname 192.168.1.29
  User hacker
  IdentityFile ~/.ssh/TT_DDX_MacMini

Host tunnel
  HostName testapi.dudumeijia.com
  User root
  IdentityFile ~/.ssh/TT_DuDu_MBP
  LocalForward 54320 127.0.0.1:5432

Host cent
  Hostname 192.168.100.117
  User lutao
  IdentityFile ~/.ssh/TT_DuDu_MBP
