ServerAliveInterval 60

Host github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/id_rsa

Host ou
  Hostname 192.168.1.119
  User zhenkunou
  IdentityFile ~/.ssh/id_rsa

Host aws
  Hostname 54.169.119.123
  User ubuntu
  IdentityFile ~/.ssh/first_aws.pem
#  ProxyCommand /usr/bin/nc -x 127.0.0.1:1080 %h %p

Host awsr
  Hostname 54.169.119.123
  User root
  IdentityFile ~/.ssh/first_aws.pem

Host yun
  Hostname 121.201.7.57
  User ubuntu
  IdentityFile ~/.ssh/id_rsa

Host yunr
  Hostname 121.201.7.57
  User root
  IdentityFile ~/.ssh/id_rsa

Host mje
  Hostname 117.121.25.35
  User root
  IdentityFile ~/.ssh/kp-hcstqtf6

Host dd
  Hostname testapi.dudumeijia.com
  User root
  IdentityFile ~/.ssh/TT_DuDu_MBP
